@inherits FluxorComponent
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Text.Json;
@inject NavigationManager Navigation

<MudAppBar Elevation="1">
    <MudIconButton Class="d-md-none" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnHamburgerMenuClick" />
    <div class="flex-grow-1 d-md-none"></div>
    <MudImage Src="logo-white.svg" Alt="logo" Width="200" />
    <MudSpacer />
    <MudToggleIconButton Toggled="@State.Value.Theme.IsDarkMode"
                         ToggledChanged="@ToggleThemeMode"
                         ToggledIcon="@Icons.Material.Filled.LightMode" ToggledTitle="Switch to light mode"
                         Icon="@Icons.Material.Filled.DarkMode" Title="Switch to dark mode"
                         Style="@($"color:{ToggleThemeButtonColor}")" />

    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit">
        <AuthorizeView>
            <Authorized>
                <MudMenuItem Icon="@Icons.Material.Filled.ManageAccounts" Href="authentication/profile">Profile</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="@BeginLogOut" OnTouch="@BeginLogOut">Log out</MudMenuItem>
            </Authorized>
            <NotAuthorized>
                <MudMenuItem Icon="@Icons.Material.Filled.PersonAdd" Href="authentication/register">Register</MudMenuItem>
                <MudMenuItem Icon="@Icons.Material.Filled.Login" Href="authentication/login">Log in</MudMenuItem>
            </NotAuthorized>
        </AuthorizeView>
        <MudMenuItem Icon="@Icons.Material.Filled.Store" Href="store" ForceLoad="true">Store</MudMenuItem>
    </MudMenu>
</MudAppBar>

@code {
    [Parameter]
    public EventCallback OnHamburgerMenuClick { get; set; }

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}